:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* gap: 15px; */
}

header {
    background-color: #fff;
    padding: 2em;
}

main {
    background-color: blue;
    padding: 2em;
}

footer {
    background-color: red;
    text-align: center;
    padding: 0.5em;
}