:root {
    --primary-clr: red;
    --secondary-clr: orange;
    --accent-clr: blue;
    --btn-clr: white;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* gap: 15px; */
}

/* --- Header Styles --- */

header {
    background-color: #fff;
    padding: 2em;
}

h1 {
    letter-spacing: clamp(0.06rem, 0.35vw, 1rem);
}

.header-wrapper {
    width: 100%;
    gap: 15px;
}

.library-icon {
    width: 50px;
    height: auto;
}


/* --- Main --- */

main {
    /* max-width: 840px; */
    /* min-width: 650px; */
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-rows: auto 1fr;
    
    /* justify-content: center; */
    background-color: blue;
    padding: 2em;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: orange;
    gap: 15px;
}

.card {
    height: 200px;
    background-color: #fff;
}


/* --- Footer --- */

footer {
    background-color: red;
    text-align: center;
    padding: 0.5em;
}